### Files ###
Makefile
TODO.md

### Utilities ###
.editorconfig

### Directories ###
build/
docs/
examples/
test/
benchmark/
/dist

### Git ###
.gitattributes
.git*

# Testing
/test-pkg/node_modules
/test-pkg/.env
src/decorators